* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.527);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 4px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #424242;
    display: block;
    transition: 0.3s;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    ;
}

.sidenav h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #727272;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    ;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
    letter-spacing: .1em;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.opennav {
    position: fixed;
    top: 1em;
    left: 1em;
    height: 2em;
    width: 2em;
    color: #424242;
    transition: 0.2s;
}

#opennnav {
    font-size: 1.2em;
}

.opennav:hover {
    color: white;
    height: 2.3em;
    width: 2.3em;
}


img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    scroll-behavior: smooth;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body,
html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

main {
    width: 100vw;
    z-index: 99;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

main section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

#landing {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
}

#previous {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
}

#previous .item {
    grid-row: 2;
}

#previous .down {
    grid-column: 3;
}

#previous .up {
    grid-column: 3;
}

.up,
.down {
    transition: all 0.1s ease-in-out;
}

.down:hover {
    margin-top: .5em;
}

.up:hover {
    margin-bottom: .5em;
}

.container {
    width: 100%;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 100%;
}

#upcoming {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
}

#upcoming .up {
    grid-column: 3;
}

#upcoming .down {
    grid-column: 3;
}

#contact .up {
    grid-column: 3;
}

#contact .down {
    grid-column: 3;
}

#upcoming .container .item {
    grid-column: 2;
    grid-row: 2;
}

#contact .container .item {
    grid-column: 2;
    width: 120%;
    height: 100%;
}

#work .container .item:hover {
    height: 110%;
    width: 110%;
}

#previous .container .item:hover {
    height: 130%;
}

#contact .container .item:hover {
    letter-spacing: .1em;
}

#work .up {
    grid-column: 3;
}

#work .down {
    grid-column: 3;
}

#work {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
}

#spinshare {
    background-image: url(./spinshare.jpg);
    background-size: cover;
    background-position: center;
}

#project1 {
    background-image: url(./project1.png);
    background-size: cover;
    background-position: center;
}

#scrumboomer {
    background-image: url(./ScrumBoomer.png);
    background-size: cover;
    background-position: center;
}

#mapbot {
    background-image: url(./mapbot.png);
    background-size: cover;
    background-position: center;
}

#sssospinpanel {
    background-image: url(./sssopanel.jpg);
    background-size: cover;
    background-position: center;
}

#obsguide {
    background-image: url(./obsguide.png);
    background-size: cover;
    background-position: center;
}

#fuckyoutoo {
    background-image: url(./fuckyoutoo.jpg);
    background-size: cover;
    background-position: center;
}

#playmore {
    background-image: url(./playmore.png);
    background-size: cover;
    background-position: center;
}

#barelyvisible {
    background-image: url(./barelyvisible.png);
    background-size: cover;
    background-position: center;
}

#itemtext {
    height: 1.5em;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
}

#placeholder {
    text-align: center;
    justify-content: center;
    align-items: center;
}


#contact {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    justify-items: center;
    align-items: center;
}

#contact .container {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    color: white;
}

em {
    color: white;
}

.email {
    display: inline-block;
    transition: all 0.1s ease-in-out;
}

.email:hover {
    letter-spacing: .1em;
}

#logo {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
}

#landing .up {
    grid-column: 2;
    grid-row: 1;
}

#landing .down {
    grid-column: 2;
    grid-row: 3;
}

.item {
    background-color: rgba(0, 0, 0, 0.356);
    display: grid;
    font-size: 1.5rem;
    height: 20vh;
    width: 25vw;
    margin-top: .5vh;
    margin-bottom: .5vh;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-style: italic;
    color: #fff;
    transition: all 0.1s ease-in-out;
}